@font-face{
    font-family:themillion;
    src: url(../tipografia/Letra.ttf.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto) ;
    grid-template-areas: 
    "header header header"
    "mainOne mainOne mainOne"
    "mainTwo mainTwo mainTwo"
    "footer footer footer";
}

.header{
    grid-area: header;

}
.navbar{
    background-color: black;
}
.lista a{
    margin-left: 50px;
    color: yellow;
    border-radius: 10vh;
    font-family:themillion;
}
.lista a:hover{
    background-color: yellow;
    color: black;
    border-radius: 10vh;
    transition: 0.5s;
}
.acordeon{
    background-color: yellow;
    color: yellow;
}
.logo{
    width: 10vw;
    border-radius: 10vh;
}

.mainOne{
    grid-area: mainOne;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.384);
}

.entrada{
    font-family:themillion;
    color: white;
    position: absolute;
    z-index: 1;
}

.vid{
    width: 100%;
    position: relative;
    z-index: -1;
}

.mainTwo{
    display: flex;
    grid-area: mainTwo;
    justify-content: center;
}
.blurryFace{
    width: 95vw;
    height: 90vh;
    background-color: #FF5E5B;
    font-family: themillion;
    overflow: scroll;
}

.one{
    display: flex;
    justify-content: center;
}

.one a{
    text-decoration: none;
    color: #FF5E5B;
    background-color: black;
    padding: 1vh;
    border-radius: 5vh;
}

.one a:hover{
    color: black;
    background-color:#FF5E5B ;
    transition: 0.5s;
}

.face{
    margin-top: 50px ;
    border-radius: 12px;
    width:70vw;
    height:380px;
}

.trench{
    width: 95vw;
    height: 90vh;
    background-color: #E2C044;
    font-family: themillion;
}

.two{
    display: flex;
    justify-content: center;
}

.two a{
    text-decoration: none;
    background-color: black;
    color: #E2C044;
    padding: 1vh;
    border-radius: 5vh;
}

.two a:hover{
    color: white;
    background-color: #E2C044;
    transition: 0.5s;
}

.rench{
    margin-top: 50px ;
    border-radius: 12px;
    width:70vw;
    height:380px;
}

.scaledAndIcy{
    width: 95vw;
    height: 90vh;
    background-color: #80CED7;
    font-family: themillion;
}

.tree{
    display: flex;
    justify-content: center;
}

.tree a{
    text-decoration: none;
    color:#80CED7 ;
    background-color: black;
    padding: 1vh;
    border-radius: 5vh;
}

.tree a:hover{
    color: black;
    background-color: #80CED7;
    transition: 0.5s;
}

.icy{
    margin-top: 50px ;
    border-radius: 12px;
    width:70vw;
    height:380px;
}

.correo{
    background-color: black;
    color: #E2C044;
}

.footer{
    font-family: themillion;
    grid-area: footer;
}

.last{
    text-align: center;
    background-color: #E2C044;
}

@media (min-width: 425px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto) ;
        grid-template-areas: 
        "header header header"
        "mainOne mainOne mainOne"
        "mainTwo mainTwo mainTwo"
        "footer footer footer";
    }
}

